GITHUB_USERNAME=Synget1-0
OWNER=Synget1-0
GITHUB_TOKEN=ghp_xxx
GHCR_NAMESPACE=synget1-0/aula-extra
TAG=1.0.0
DOCKER_PLATFORM=linux/amd64

SQL_SERVER=db
SQL_USER=sa
SQL_PASSWORD=ConfidantYour_strong_password123
SQL_DB=ConfidantsDB
DB_EXPOSED_PORT=5434
AULAEXTRA_NETWORK_NAME=aulaextra_net
AULAEXTRA_SUBNET=10.203.50.0/24
AULAEXTRA_PROXY_NETWORK_NAME=sga_network

API_PORT=8080
FRONTEND_PORT=8081
BACKOFFICE_PORT=8082
AGORA_PORT=8083
R2_INTEGRATOR_PORT=8084
PGADMIN_PORT=9060
BACKUP_FILESERVER_PORT=9045
DB_SEED=1

API_BASE_URL=https://aulaextra-api.synget.ovh
CHAT_HUB_BASE_URL=https://aulaextra-agora.synget.ovh
AGORA_INTEGRATOR_BASE_URL=http://agora-integrator
BACKOFFICE_API_BASE_URL=https://aulaextra-backoffice-api.synget.ovh
FRONTEND_BASE_HREF=/
BACKOFFICE_BASE_HREF=/
R2_INTEGRATOR_BASE_URL=http://r2-integrator

AGORA_APP_ID=
AGORA_APP_CERTIFICATE=
AGORA_TOKEN_EXPIRATION_SECONDS=3600
WHITEBOARD_SDK_TOKEN=
WHITEBOARD_APP_IDENTIFIER=
WHITEBOARD_REGION=us-sv

JWT_SECRET=
CLOUDFLARE_IMAGES_ACCOUNT_ID=
CLOUDFLARE_IMAGES_API_TOKEN=
CLOUDFLARE_IMAGES_DELIVERY_BASE=
CLOUDFLARE_IMAGES_DEFAULT_VARIANT=public
CloudflareR2__AccountId=
CloudflareR2__BucketName=aulaextra
CloudflareR2__AccessKeyId=
CloudflareR2__SecretAccessKey=
CloudflareR2__ApiToken=
CloudflareR2__PublicBaseUrl=https://pub-d43335aacc3b40cb9c77ba3666318eb8.r2.dev
CLOUDFLARE_FILES_ACCOUNT_ID=
CLOUDFLARE_FILES_ACCESS_KEY_ID=
CLOUDFLARE_FILES_API_TOKEN=
CLOUDFLARE_FILES_DELIVERY=
CLOUDFLARE_FILES_BUCKET=aulaextra
POSTMARK_API_TOKEN=
POSTMARK_FROM_EMAIL=
POSTMARK_TO_EMAIL=
GOOGLE_TRANSLATE_API_KEY=
PGADMIN_DEFAULT_EMAIL=admin@confidant.pt
PGADMIN_DEFAULT_PASSWORD=admin123
BACKUP_INTERVAL_SECONDS=86400
BACKUP_RETENTION_DAYS=14
DB_BOOTSTRAP=0
